@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,600&family=Press+Start+2P&display=swap");

/*Default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  /* Add background color and color here with !important*/
  font-family: "Open sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: none;
}

h1 {
  font-size: 28px !important;
  font-family: 'Press Start 2P', cursive;
}
h2 {
  font-size: 24px !important;
  font-family: 'Press Start 2P', cursive;
}

h3 {
  font-size: 20px !important;
  font-family: 'Press Start 2P', cursive;
}
h4 {
  font-size: 18px !important;
  font-family: 'Press Start 2P', cursive;
}

/*Nav*/
nav.navbar {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2000;
  transition: 0.3 ease-in-out;
  background-color: white;
}

nav.navbar.scrolled {
  padding: 0px 0;
}

nav.navbar a.navbar-brand {
  width: 10%;
  font-family: 'Press Start 2P', cursive;
}

nav.navbar nav.navbar .nav-link.navbar-link {
  font-size: 18px;
  padding: 0 20px;
  opacity: 0.75;
}
nav.navbar nav.navbar .nav-link.navbar-link:hover,
nav.navbar nav.navbar .nav-link.navbar-link:active {
  opacity: 1;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 25px;
  height: 18px;
  position: relative;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  height: 2px;
}

@media screen and (max-width: 500px)  {
  nav.navbar a.navbar-brand {
    font-size: 15px;
  }
}

/*Banner*/

.banner {
  margin-top: 10%;

  .me {
    width: 90%;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  }
}

@media screen and (max-width: 767px)  {
  
  .bannerItem {
    text-align: center;
  }
}

/*Projects*/

.projects img {
    width: 100%;
}

.projects .row {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
